#chat-app .left-sidenav .contacts-view md-content .contact-list .contact .md-button {
  padding-left: 40px;
}
#chat-app .left-sidenav .contacts-view md-content .contact-list .contact .fist-letter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 300;
  z-index: 9999;
}
