#contacts {
  position: relative;
}
#contacts > .header {
  height: 76px;
  min-height: 76px;
  max-height: 76px;
}
#contacts > .header .logo .logo-icon {
  margin: 0 16px 0 0;
}
#contacts > .header .logo .logo-text {
  font-size: 24px;
}
#contacts > .header md-icon {
  color: #FFFFFF;
}
#contacts > .header .search-input-wrapper {
  position: relative;
}
#contacts > .header .search-input-wrapper label {
  padding-right: 4px;
  cursor: pointer;
}
#contacts > .header .search-input-wrapper label md-icon {
  color: rgba(255, 255, 255, 0.8);
}
#contacts > .header .search-input-wrapper md-input-container .md-errors-spacer {
  display: none;
}
#contacts > .header .search-input-wrapper md-input-container input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  width: 240px;
}
#contacts > .header .search-input-wrapper md-input-container input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
#contacts > .header .search-input-wrapper md-input-container input:focus {
  border-bottom: 1px solid white;
  color: white;
}
#contacts > .header.selected-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: none;
  opacity: 1 !important;
}
#contacts > .header.selected-bar .close-button-wrapper {
  width: 244px;
}
#contacts > .content {
  position: absolute;
  top: 76px;
  bottom: 0;
  right: 0;
  left: 0;
}
#contacts > .content > md-sidenav {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 0;
}
#contacts > .content .main {
  padding: 16px 90px 0 4px;
  position: absolute;
  top: 0;
  left: 24px;
  right: 0;
  bottom: 0;
}
#contacts > .content .main .contacts-list {
  position: relative;
  padding-bottom: 0;
}
#contacts > .content .main .contacts-list .md-subheader {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
#contacts > .content .main .contacts-list .md-subheader ._md-subheader-inner {
  padding: 16px;
}
#contacts > .content .main .contacts-list .md-subheader .contacts-count {
  padding-left: 4px;
}
#contacts > .content .main .contacts-list .md-subheader .list-title {
  margin-right: 4px;
}
#contacts > .content .main .contacts-list .md-subheader .edit-group-form .editable-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#contacts > .content .main .contacts-list .md-subheader .edit-group-form .editable-controls .editable-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 6px;
  margin-right: 6px;
  font-size: 13px;
}
#contacts > .content .main .contacts-list .md-subheader .edit-group-form .edit-group-button {
  margin: 0;
}
#contacts > .content .main .contacts-list .md-subheader .edit-group-form .md-button {
  margin: 0;
  margin: 0;
  padding: 0;
  height: 32px;
  min-height: 32px;
  line-height: 32px;
  width: 32px;
}
#contacts > .content .main .contacts-list .contact-item {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background: white;
  transition: transform 200ms ease-out;
  will-change: transform;
}
#contacts > .content .main .contacts-list .contact-item:last-of-type {
  margin-bottom: 24px;
}
#contacts > .content .main .contacts-list .contact-item.ng-leave {
  transform: translateY(0);
  display: none;
}
#contacts > .content .main .contacts-list .contact-item.ng-leave.ng-leave-active {
  transform: translateY(-100%);
}
#contacts > .content .main .contacts-list .contact-item.ng-hide {
  display: none;
}
#contacts > .content .main .contacts-list .contact-item.ng-hide-add-active, #contacts > .content .main .contacts-list .contact-item.ng-hide-remove-active {
  display: block;
  transition-property: all;
}
#contacts > .content .main .no-results {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
#contacts #add-contact-button {
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  #contacts > .content .main {
    left: 268px;
  }
}
