<!DOCTYPE html>
<html ng-app="fuse">
<base href="/">
  <head>
    <title>Feelance Admin Panel</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--ADMIN STYLES-->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/admin/main/auth/support/sidenavs/left/left-sidenav.css">
    <link rel="stylesheet" href="/admin/main/auth/support/sidenavs/left/views/chats/chats-view.css">
    <link rel="stylesheet" href="/admin/main/auth/support/sidenavs/left/views/contacts/contacts-views.css">
    <link rel="stylesheet" href="/admin/main/auth/support/sidenavs/left/views/user/user-view.css">
    <link rel="stylesheet" href="/admin/main/auth/support/sidenavs/right/right-sidenav.css">
    <link rel="stylesheet" href="/admin/main/auth/support/sidenavs/right/views/contact/contact-view.css">
    <link rel="stylesheet" href="/admin/main/auth/support/support.css">
    <link rel="stylesheet" href="/admin/main/delivery/addUpdate/addUpdateDeliveryBoy.css">
    <link rel="stylesheet" href="/admin/main/delivery/deliveryBoy.css">
    <link rel="stylesheet" href="/admin/main/guest/login/login.css">
    <link rel="stylesheet" href="/admin/main/meal/meal.css">
    <link rel="stylesheet" href="/admin/main/school/school.css">
    <link rel="stylesheet" href="/admin/main/user-management/contacts.css">
    <link rel="stylesheet" href="/admin/main/user-management/dialogs/contact/contact-dialog.css">
    <link rel="stylesheet" href="/admin/main/user-management/sidenavs/main/main-sidenav.css">
    <link rel="stylesheet" href="/admin/main/user-management/view/userView.css">
    <!--ADMIN STYLES END-->
  </head>

  <body  md-theme="{{vm.themes.active.name}}" md-theme-watch ng-controller="IndexController as vm"
          class="{{state.current.bodyClass || ''}}">

<!-- SPLASH SCREEN -->
        <ms-splash-screen id="splash-screen">
            <div class="center">
                <div class="logo">
                    <span>J</span>
                </div>
                <!-- Material Design Spinner -->
                <!-- <div class="spinner-wrapper">
                    <div class="spinner">
                        <div class="inner">
                            <div class="gap"></div>
                            <div class="left">
                                <div class="half-circle"></div>
                            </div>
                            <div class="right">
                                <div class="half-circle"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- / Material Design Spinner -->
            </div>
        </ms-splash-screen>
        <!-- / SPLASH SCREEN -->

        <div id="main" class="animate-slide-up" ui-view="main" layout="column"></div>

       


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


     <!--

          Client-side Javascript
          ========================

          You can always bring in JS files manually with `script` tags, or asynchronously
          on the client using a solution like AMD (RequireJS).  Or, if you like, you can
          take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

          By default, files in your `assets/js` folder are included here
          automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
          CoffeeScript (.coffee) are supported. In production, your scripts will be minified
          and concatenated into a single file.

          To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
          For example, here are a few things you could do:

              + Change the order of your scripts
              + Import scripts from other directories
              + Use a different preprocessor, like TypeScript

        -->
        <!--ADMIN SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-translate/angular-translate.js"></script>
        <script src="/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/mobile-detect/mobile-detect.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
        <script src="/admin/core/core.module.js"></script>
        <script src="/admin/core/core.config.js"></script>
        <script src="/admin/core/core.run.js"></script>
        <script src="/admin/core/directives/highlight.directive.js"></script>
        <script src="/admin/core/directives/ms-card/ms-card.directive.js"></script>
        <script src="/admin/core/directives/ms-datepicker-fix/ms-datepicker-fix.directive.js"></script>
        <script src="/admin/core/directives/ms-form-wizard/ms-form-wizard.directive.js"></script>
        <script src="/admin/core/directives/ms-info-bar/ms-info-bar.directive.js"></script>
        <script src="/admin/core/directives/ms-masonry/ms-masonry.directive.js"></script>
        <script src="/admin/core/directives/ms-material-color-picker/ms-material-color-picker.directive.js"></script>
        <script src="/admin/core/directives/ms-nav/ms-nav.directive.js"></script>
        <script src="/admin/core/directives/ms-navigation/ms-navigation.directive.js"></script>
        <script src="/admin/core/directives/ms-random-class/ms-random-class.directive.js"></script>
        <script src="/admin/core/directives/ms-responsive-table/ms-responsive-table.directive.js"></script>
        <script src="/admin/core/directives/ms-scroll/ms-scroll.directive.js"></script>
        <script src="/admin/core/directives/ms-search-bar/ms-search-bar.directive.js"></script>
        <script src="/admin/core/directives/ms-shortcuts/ms-shortcuts.directive.js"></script>
        <script src="/admin/core/directives/ms-sidenav-helper/ms-sidenav-helper.directive.js"></script>
        <script src="/admin/core/directives/ms-splash-screen/ms-splash-screen.directive.js"></script>
        <script src="/admin/core/directives/ms-stepper/ms-stepper.directive.js"></script>
        <script src="/admin/core/directives/ms-timeline/ms-timeline.js"></script>
        <script src="/admin/core/directives/ms-widget/ms-widget.directive.js"></script>
        <script src="/admin/core/theming/fuse-generator.service.js"></script>
        <script src="/admin/core/theming/fuse-palettes.constant.js"></script>
        <script src="/admin/core/theming/fuse-themes.constant.js"></script>
        <script src="/admin/core/theming/fuse-theming.config.js"></script>
        <script src="/admin/core/theming/fuse-theming.service.js"></script>
        <script src="/admin/quick-panel/quick-panel.module.js"></script>
        <script src="/admin/quick-panel/quick-panel.controller.js"></script>
        <script src="/admin/quick-panel/tabs/chat/chat-tab.controller.js"></script>
        <script src="/admin/index.module.js"></script>
        <script src="/admin/main/auth/dashboard/dashboard.module.js"></script>
        <script src="/admin/main/auth/support/support.module.js"></script>
        <script src="/admin/main/delivery/deliveryBoy.module.js"></script>
        <script src="/admin/main/guest/login/login.module.js"></script>
        <script src="/admin/main/meal/meal.module.js"></script>
        <script src="/admin/main/sample/sample.module.js"></script>
        <script src="/admin/main/school/school.module.js"></script>
        <script src="/admin/main/signup/signup.module.js"></script>
        <script src="/admin/main/user-management/contacts.module.js"></script>
        <script src="/admin/main/user-management/view/userView.module.js"></script>
        <script src="/admin/navigation/navigation.module.js"></script>
        <script src="/admin/toolbar/toolbar.module.js"></script>
        <script src="/admin/index.controller.js"></script>
        <script src="/admin/main/auth/dashboard/dashboard.controller.js"></script>
        <script src="/admin/main/auth/support/support.controller.js"></script>
        <script src="/admin/main/delivery/addUpdate/addUpdateDeliveryBoy.controller.js"></script>
        <script src="/admin/main/delivery/deliveryBoy.controller.js"></script>
        <script src="/admin/main/guest/login/login.controller.js"></script>
        <script src="/admin/main/main.controller.js"></script>
        <script src="/admin/main/meal/meal.controller.js"></script>
        <script src="/admin/main/sample/sample.controller.js"></script>
        <script src="/admin/main/school/school.controller.js"></script>
        <script src="/admin/main/signup/signup.controller.js"></script>
        <script src="/admin/main/user-management/contacts.controller.js"></script>
        <script src="/admin/main/user-management/dialogs/contact/contact-dialog.controller.js"></script>
        <script src="/admin/main/user-management/view/userView.controller.js"></script>
        <script src="/admin/navigation/navigation.controller.js"></script>
        <script src="/admin/toolbar/toolbar.controller.js"></script>
        <script src="/admin/core/config/fuse-config.provider.js"></script>
        <script src="/admin/core/filters/altDate.filter.js"></script>
        <script src="/admin/core/filters/basic.filter.js"></script>
        <script src="/admin/core/filters/filterByIds.filter.js"></script>
        <script src="/admin/core/filters/filterByPropIds.filter.js"></script>
        <script src="/admin/core/filters/tag.filter.js"></script>
        <script src="/admin/core/services/api-resolver.service.js"></script>
        <script src="/admin/core/services/ms-api.provider.js"></script>
        <script src="/admin/core/services/ms-utils.service.js"></script>
        <script src="/admin/core/theme-options/theme-options.directive.js"></script>
        <script src="/admin/index.api.js"></script>
        <script src="/admin/index.config.js"></script>
        <script src="/admin/index.constants.js"></script>
        <script src="/admin/index.route.js"></script>
        <script src="/admin/index.run.js"></script>
        <script src="/admin/main/auth/support/services/support.service.js"></script>
        <script src="/admin/main/guest/login/login.service.js"></script>
        <script src="/admin/main/user-management/contacts.service.js"></script>
        <!--ADMIN SCRIPTS END-->
  </body>
</html>