<!-- DIALOG -->
<h1 layout="row" layout-align="center center">Delivery Boy Management</h1>

<md-tab-body>
        <md-grid-list md-cols="5" md-gutter="1em" md-row-height="2:1">
		  <md-grid-tile class="tabb">Name</md-grid-tile>
		  <md-grid-tile class="tabb">Phone No</md-grid-tile>
		  <md-grid-tile class="tabb">Email Id</md-grid-tile>
    <md-grid-tile class="tabb">Action</md-grid-tile>

		</md-grid-list>
		<md-grid-list md-cols="5" md-gutter="1em" ng-repeat="data in data" md-row-height="8:1">
			  <md-grid-tile>{{data.name}}</md-grid-tile>
			  <md-grid-tile>{{data.email}}</md-grid-tile>
			  <md-grid-tile>{{data.phone_no}}</md-grid-tile>
			  <md-grid-tile><a>View</a> &nbsp
			  		<a>Delete</a>
			  </md-grid-tile>
		</md-grid-list>
</md-tab-body>
<!-- / DIALOG -->