#chat-app .right-sidenav .contact-view md-toolbar {
  min-height: 300px;
}
#chat-app .right-sidenav .contact-view md-toolbar .md-toolbar-tools-bottom {
  height: inherit;
  max-height: none;
}
#chat-app .right-sidenav .contact-view md-toolbar .md-toolbar-tools-bottom .contact-name {
  font-size: 24px;
  margin: 8px 0;
}
#chat-app .right-sidenav .contact-view md-content md-card {
  margin: 16px;
}
