#chat-app .left-sidenav .chats-view md-toolbar {
  background-color: #F3F4F5;
  color: rgba(0, 0, 0, 0.87);
}
#chat-app .left-sidenav .chats-view md-toolbar md-icon {
  color: rgba(0, 0, 0, 0.87);
}
#chat-app .left-sidenav .chats-view md-toolbar .md-toolbar-tools-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
#chat-app .left-sidenav .chats-view md-toolbar .md-toolbar-tools-top .avatar-wrapper {
  cursor: pointer;
}
#chat-app .left-sidenav .chats-view md-toolbar .md-toolbar-tools-bottom {
  background-color: #FAFAFA;
}
#chat-app .left-sidenav .chats-view md-content .chat-list .contact .last-message {
  max-width: 180px;
}
#chat-app .left-sidenav .chats-view md-content .chat-list .contact .last-message-time {
  white-space: nowrap;
}
#chat-app .left-sidenav .chats-view md-content .chat-list .contact.unread .name, #chat-app .left-sidenav .chats-view md-content .chat-list .contact.unread .last-message, #chat-app .left-sidenav .chats-view md-content .chat-list .contact.unread .last-message-time {
  font-weight: 500;
}
#chat-app .left-sidenav .chats-view md-content .chat-list .contact .unread-message-count {
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
#chat-app .left-sidenav .chats-view md-content md-list-item:last-child {
  margin-bottom: 72px;
}
#chat-app .left-sidenav .chats-view .contacts-button {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
