md-dialog.contact-dialog {
  max-width: 400px;
  width: 400px;
}
md-dialog.contact-dialog md-toolbar {
  height: 240px;
  min-height: 240px;
  max-height: 240px;
}
md-dialog.contact-dialog md-toolbar .title {
  font-size: 17px;
}
md-dialog.contact-dialog md-toolbar .md-toolbar-tools-middle {
  height: 144px;
  min-height: 144px;
  max-height: 144px;
}
md-dialog.contact-dialog md-toolbar .md-toolbar-tools-middle .contact-avatar {
  margin: 0;
}
md-dialog.contact-dialog md-toolbar .md-toolbar-tools-middle .contact-name {
  font-size: 24px;
  margin: 8px 0;
}
md-dialog.contact-dialog md-toolbar .md-toolbar-tools-bottom md-menu {
  margin: 0;
}
md-dialog.contact-dialog md-dialog-content {
  display: block;
  position: relative;
}
md-dialog.contact-dialog md-dialog-content .birthday-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0 0 32px 0;
}
md-dialog.contact-dialog md-dialog-content .birthday-input .md-button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}
md-dialog.contact-dialog md-dialog-content .birthday-input .md-button md-icon {
  color: rgba(0, 0, 0, 0.87);
}
md-dialog.contact-dialog md-dialog-content .birthday-input .md-datepicker-input-container {
  display: flex;
  flex: 1;
}
md-dialog.contact-dialog md-dialog-content .textarea-wrapper md-input-container {
  margin-top: 0;
}
md-dialog.contact-dialog md-dialog-content .textarea-wrapper md-icon {
  color: rgba(0, 0, 0, 0.87);
  margin: 0 8px 0 0;
}
md-dialog.contact-dialog md-dialog-actions {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
