DIALOG -->
<md-dialog class="contact-dialog" aria-label="New Task">

    <form name="contactForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-tall" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Deliver Boy</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" >
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

            <!-- TOOLBAR MIDDLE -->
            <div class="md-toolbar-tools md-toolbar-tools-middle" flex layout="column" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <img ng-src="{{vm.contact.avatar}}" class="md-avatar avatar contact-avatar huge"
                         alt="{{vm.contact.name}}"/>
                         <!-- <input type="file" file-model ="myFile" id="file" name="file" multiple>
                       <md-button class="md-accent" ng-click="upload()">upload</md-button>  --> 
                    <div class="contact-name">{{vm.delivery.name}}</div>
                </div>
            </div>

            <!-- / TOOLBAR MIDDLE -->

            <!--  TOOLBAR BOTTOM -->
            <!-- <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row" layout-align="center center">

                <div flex layout="row" layout-align="center center">

                    <md-button class="md-icon-button"
                               ng-click="vm.toggleInArray(vm.contact.id, vm.user.starred)"
                               aria-label="Toggle starred" translate
                               translate-attr-aria-label="CONTACTS.TOGGLE_STARRED">
                        <md-icon ng-if="vm.exists(vm.contact.id,vm.user.starred)" md-font-icon="icon-star"
                                 class="amber-fg"></md-icon>
                        <md-icon ng-if="!vm.exists(vm.contact.id,vm.user.starred)"
                                 md-font-icon="icon-star-outline"></md-icon>
                    </md-button>

                    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" translate
                                   translate-attr-aria-label="TODO.MORE">
                            <md-icon md-font-icon="icon-account-multiple-plus" ng-click="$mdMenu.open($event)"></md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-list-item ng-if="vm.user.groups" ng-repeat="group in vm.user.groups"
                                          ng-click="vm.toggleInArray(vm.contact.id,group.contactIds)">
                                <p class="pl-8"
                                   ng-style="vm.exists(vm.contact.id,group.contactIds) && {'font-weight':'500'}">
                                    {{group.name}}
                                </p>
                            </md-list-item>

                        </md-menu-content>
                    </md-menu>
                </div>
            </div> -->
            <!-- / TOOLBAR BOTTOM -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <md-input-container class="md-icon-float md-block">
                <label>Name (required)</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <input ng-model="vm.delivery.userName" type="text" ng-required md-autofocus>
            </md-input-container>
            
            <md-input-container class="md-block">
                <md-icon md-font-icon="icon-email" class="email"></md-icon>
                <input ng-model="vm.delivery.email_id" type="email" placeholder="Email">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <md-icon></md-icon>
                <input ng-model="vm.delivery.password" type="text">
            </md-input-container>

            <!-- <md-input-container class="md-icon-float md-block">
                <label translate="CONTACTS.NICKNAME">Nickname</label>
                <md-icon></md-icon>
                <input ng-model="vm.contact.nickname" type="text">
            </md-input-container> -->

            <div ng-if="!vm.allFields" layout="row" layout-align="center center">
                <md-button class="md-accent" ng-click="vm.allFields = true">Show
                    All Fields
                </md-button>
            </div>

            <div ng-if="vm.allFields">
                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-phone"></md-icon>
                    <input ng-model="vm.delivery.phone_no" type="text" placeholder="Phone number">
                </md-input-container>
                <!-- <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-domain"></md-icon>
                    <input ng-model="vm.delivery.company" type="text" placeholder="Company" >
                </md-input-container>

                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-worker"></md-icon>
                    <input ng-model="vm.delivery.jobTitle" type="text" placeholder="Job title">
                </md-input-container>

                <md-datepicker class="birthday-input" ng-model="vm.delivery.birthday" md-placeholder="Birthday"
                               ng-required="false">
                </md-datepicker>
 -->
                <!-- <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-home"></md-icon>
                    <input ng-model="vm.delivery.address" type="text" placeholder="Address">
                </md-input-container> -->

                <!-- <div layout="row" class="md-block textarea-wrapper" layout-align="start start">
                    <md-icon md-font-icon="icon-note"></md-icon>
                    <md-input-container flex>
                        <label translate >Notes</label>
                        <textarea ng-model="vm.delivery.notes" type="text" max-rows="4"></textarea>
                    </md-input-container>
                </div> -->

                <div layout="row" layout-align="center center">
                    <md-button class="md-accent" ng-click="vm.allFields = false" >Fewer
                        Fields
                    </md-button>
                </div>

            </div>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newContact" ng-click="vm.saveContact()"
                           class="send-button md-accent md-raised"
                           ng-disabled="contactForm.$invalid || contactForm.$pristine"
                           aria-label="SAVE" >
                    SAVE
                </md-button>

                <md-button type="submit" ng-if="vm.newContact" ng-click="vm.addNewContact()"
                           class="send-button md-accent md-raised"
                           ng-disabled="contactForm.$invalid || contactForm.$pristine"
                           aria-label="Add Task" >
                    ADD CONTACT
                </md-button>

            </div>

            <div layout="row">
                <md-button class="md-icon-button" ng-click="vm.deleteContactConfirm($event)" aria-label="Delete"
                           translate translate-attr-aria-label="CONTACTS.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span >DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG