<!-- DIALOG -->
<h1 layout="row" layout-align="center center">
  Sign Up
</h1>

<md-tab-body>
        <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
            <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="50">
                    <input type="text" name="firstname" ng-model="vm.formWizard.firstname"
                           placeholder="Firstname"
                           required>
                    <div ng-messages="wizardStep1.firstname.$error"
                         role="alert">
                        <div ng-message="required">
                            <span>Firstname field is required.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" flex-gt-xs="50">
                    <input type="text" name="lastname" ng-model="vm.formWizard.lastname"
                           placeholder="Lastname"
                           required>
                    <div ng-messages="wizardStep1.lastname.$error"
                         role="alert">
                        <div ng-message="required">
                            <span>Lastname field is required.</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <input type="email" name="email" ng-model="vm.formWizard.email" placeholder="Email"
                       ng-pattern="/^.+@.+\..+$/" required>
                <div ng-messages="wizardStep1.email.$error"
                     role="alert" multiple>
                    <div ng-message="required">
                        <span>Email field is required</span>
                    </div>
                    <div ng-message="pattern">
                        <span>Email must be a valid e-mail address</span>
                    </div>
                </div>
            </md-input-container>

            <div layout="column" layout-gt-sm="row" flex>
                <md-input-container flex="100" flex-gt-xs="50">
                    <input type="password" name="password" ng-model="vm.formWizard.password"
                           placeholder="Password"
                           required>
                    <div ng-messages="wizardStep1.password.$error"
                         role="alert">
                        <div ng-message="required">
                            <span>Password field is required.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container flex="100" flex-gt-xs="50">
                    <input type="password" name="passwordConfirm"
                           ng-model="vm.formWizard.passwordConfirm"
                           placeholder="Password (Confirm)"
                           required>
                    <div ng-messages="wizardStep1.passwordConfirm.$error"
                         role="alert">
                        <div ng-message="required">
                            <span>Password (Confirm) field is required.</span>
                        </div>
                    </div>
                </md-input-container>

            </div>
            <div layout="column" layout-align="start center">
                <md-button class="md-raised md-accent submit-button" ng-disabled="wizardStep1.$invalid || wizardStep1.$pristine" ng-click="submit()">
                    <div layout="row" layout-align="center center">
                        <span>
                            <span>Submit</span>
                        </span>
                    </div>
                </md-button>
            </div>
        </form>
    </md-tab-body>
</md-tab>
<!-- / DIALOG -->